/* 
Colours and Fonts:

    Primary Colour: rgb(52, 88, 235)
    Secondary Colour: rgb(255, 255, 255)
    Font Colour: rgb(0, 0, 0)

    Header Font: font-family: 'Source Sans Pro', sans-serif;
    Text Font: font-family: 'Roboto', sans-serif;
*/

#nav {
    background-color: rgb(52, 88, 235);
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(255, 255, 255);
}

#nav .row {
    padding: 5px 0px;
}

#nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}